.dropshadow {
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

.onhours {
    color: green;
}

.offhours {
    color: red;
}

.hidden {
    display: none;
}

#flag, #canadaSong {
    display: none;
}
